MONGODB_URI=
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PASSWORD_PEPPER=
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
PORT=3000
